
nav {
    display: flex;
    justify-content: space-between;
}
.gallery {
    display: flex;
    justify-content: center;
}
.portfolio {
    display: flex;
    justify-content: center;
}
.photos {
    display: flex;
    justify-content: space-between;
}
figcaption {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.footer {
    display: flex;
    justify-content: center;
    font-weight: bold;
 
}

.fab {
    padding-top: 15px;
    padding-left: 10px;
}
.servicephoto {
    display: flex;
    justify-content: center;
}
.servicehead {
    display: flex;
    justify-content: center;
}
tr {
    padding-top: 25px;
}
th {
    vertical-align: top;
    padding-right: 20px;
    text-align: left;
}
